@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove arrows on  input */
@layer base {

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

/* 
Tailwind CSS could not change the color of the arrows on the input type number. I tried to use the @layer base to change the color of the arrows but it didn't work. */
button {
  color: white;
}